.badge {
  background-color: mediumaquamarine;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightyellow;
  font-weight: 600;
}
